.next/
node_modules/
out/
dist/
target/
.env.local
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
_reference_voltagent/
check-if-email-exists/
.vscode/
.devserver*
*.log
*.pid
*.tsbuildinfo

.vercel
